<manifest xmlns:android="http://schemas.android.com/apk/res/android"><application><activity android:name=".PreviewHarnessActivity" android:exported="false" android:theme="@android:style/Theme.Material.NoActionBar"/><activity android:name=".DiscoverFocusHarnessActivity" android:exported="false" android:theme="@android:style/Theme.Material.NoActionBar"/></application></manifest>