name = "ghartv-telemetry"
main = "src/index.js"
compatibility_date = "2026-08-01"
workers_dev = true

[observability]
enabled = false

[triggers]
crons = ["17 3 * * *"]

[[d1_databases]]
binding = "DB"
database_name = "ghartv-telemetry"
database_id = "__D1_DATABASE_ID__"
